.matrix {
  pointer-events: none;
  user-select: none;
  color: white;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(30, 1fr);
  padding: 0;
  position: fixed;
  z-index: -20;
  opacity: 0.44;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #101010;
}

.matrix p {
  margin: 0;
  color: #404040;
}

.matrix p.diagonal {
  color: #707070;
}

.matrix p.invisible {
  visibility: hidden;
}